<!DOCTYPE html  >
<html lang="en"

      th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.w3.org/1999/xhtml"

>
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div style="float: left;">
    <label> opcje terminarza</label>
    <div class="display" id="terminarzOptions">


        <div>
            <a class="btn" th:href=@{'/dodajTerminarz'}> Dodaj terminarz</a>
        </div>
        <div>
            <div>
                <a class="btn" th:href=@{'/usunTerminarz'}> Usuń terminarz</a>
            </div>
        </div>

    </div>
</div>


<div style="float: right;">
    <form method="get" th:action="@{/terminarz}">
        <select onchange="this.form.submit()" th:name="wybranyTerminarz">
            <option selected value="">--Wybierz terminarz--</option>
            <option th:each="terminarz : ${terminarze}" th:text="${terminarz.getName()}"
                    th:value="${terminarz.getName()}"/>
            <!--   th:selected="${terminarz==75}"></option>-->
        </select>
    </form>
    <div>
        <label>Wybrany terminarz: </label>
        <label th:text="${wybranyTerminarz}"></label>
    </div>

</div>


<div>
    <table class="table table-striped">
        <thead>
        <tr>

            <th style="width: 150px">runda</th>
            <th style="width: 150px">data</th>


        </tr>


        <tr>
        </thead>
        <tbody>
        <tr th:each="mecz : ${runda}">
            <td id="runda" style="width: 150px" th:text="${mecz.getNr()}">Joe</td>
            <td id="data" style="width: 150px" th:text="${mecz.getData()}">1</td>
            <td>
                <form method="post" th:action="@{/pokazRunde}">

                    <select class="form-control" id="dropDownList" onchange="this.form.submit()" th:name="participant">
                        <option selected>zmień rundę</option>
                        <option th:each="nr : ${nrRundy}" th:text="runda+' '+${nr.getNr()}+' '+data+': '+${nr.getData()}  "
                                th:value="${nr.getNr()}"></option>

                    </select>


                </form>
            </td>
            <td>
                <button id="bob" onclick="myFunction()">Skopiuj</button>
            </td>

        </tr>


        </tbody>

    </table>
</div>
<div>
    <table border="1" class="table table-striped" id="tabela">
        <thead align="center">
        <tr id="naglowek">


            <th class="text-center" width="15px">Drużyna 1</th>
            <th class="text-center" style="width: 15px">user 1</th>
            <th class="text-center" style="width: 50px"> -</th>
            <th class="text-center" style="width: 150px">Drużyna 2</th>
            <th class="text-center" style="width: 150px">user 2</th>
        <tr>
        </thead>
        <tbody align="center" id="tabela-zawartosc">


        <tr th:each="mecz : ${mecze}">
            <td style="width: 150px" th:text="${mecz .getUser().getTeamlist().get(0).getTeamName()}">userTeam</td>
            <td style="width: 150px" th:text="${mecz .getUser().getUsername()}">user</td>
            <td style="width: 50px"> -</td>
            <td style="width: 150px" th:text="${mecz.getopponentUser().getUsername()}">1</td>
            <td style="width: 150px" th:text="${mecz .getopponentUser().getTeamlist().get(0).getTeamName()}">
                opponentUserTeam
            </td>

        </tr>
        </tbody>

    </table>
</div>


<script>
  function myFunction() {
var tabela = document.getElementById("tabela-zawartosc");
var data = document.getElementById("data");
var runda =  document.getElementById("runda");
var result = "";
var tempstring = "";
var tempwyniki = "";

console.log(runda);
console.log(data);
tempstring+=" Runda: "+runda.textContent +"   "+data.textContent+"\r\n";

let pierwszy=true;
for (let i in tabela.rows) {
  let row = tabela.rows[i];



  for (let j in row.cells) {
  let col = row.cells[j];

console.log( j+ col.textContent);

 switch (j) {
           //druzyna
           case "0": {
          wyniki="";
user2="";
             tempstring += row.cells[j].textContent;
             break;
           }
                        //user
           case "1": {
             tempstring += " (" + row.cells[j].textContent + ") - ";
             break;
           }

           case "3": {
            user2+=  row.cells[j].textContent ;
             //tempstring += row.cells[j].textContent + "   ";
             break;
           }
           case "4": {
           tempstring+=row.cells[j].textContent +" ("+user2+ ")";
             //tempstring += row.cells[j].textContent + ":";
             break;
           }

         }


  }
  tempstring+="\r\n";
}
console.log(  tempstring);
 navigator.clipboard.writeText(tempstring);
 alert("Copied the text: " + tempstring);

}


</script>

</body>


</html>